body{
  background-color: #303030;
}
h1{
  color: white;
  text-decoration: underline #279FA4;
  font-size: 45px;
  text-align: center;
}
h2{
  color: #279FA4;
  text-decoration: underline white;
  font-size: 42px;
  text-align: center;
}
ul{
  color: white;
  list-style-type: none;
  font-size: 20px;
}
img{
  width: 30px;
  height: 30px;
}
fieldset{
  border: 5px solid #279FA4
}
ol{
  color: white;
  list-style-type: none;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: #279FA4;
}
#bg{
  box-shadow: 10px 10px 10px 10px black;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  width: 95%;
}
#blocP{
  box-shadow: 5px 5px 5px 5px black;
  color: white;
}
#blocPr{
  box-shadow: 5px 5px 5px 5px black;
  color : white;
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
}
#blocRe{
  display: none;
  box-shadow: 3px 3px 3px 3px black;
  color : white;
  text-align: center;
  font-size: 25px;
  width: 80%;
  margin-left: 10%;
}
#contact{
  width: 50px;
  height: 50px;
  margin-top: 30px;
}
#bleu{
  background-color: #279FA4;
  height:25px;
}
#violet{
  background-color: #551A7F;
  height:25px;
}
.transition1 {
  width: 270px;
  height: 50px;
  background: #303030;
  transition: width 2s , height 2s;
  box-shadow: 10px 10px 10px 10px black;
  overflow-y: 280px;
  overflow: hidden;
  margin-top: 30px;
  margin-left: 150px;
}
.transition1:hover {
  width: 270px;
  height: auto;
}
.bold{
  font-weight: bold;
}
.color{
  color: #279FA4;
}
.margin{
  margin-top: 15px;
}
@media screen and (max-width: 600px) {
  #blocRe{
    display: block;
    margin-top: 30px;
  }
  #bg{
    display:block;
    box-shadow: none;
  }
  #blocPr{
    display: block;
    box-shadow: none;

  }
  #blocP{
    display: block;
    box-shadow: none;
    border-bottom: 5px solid white;

  }
  .transition1{
    margin-left: 10px;
  }
  .transition1:hover {
    height:auto;
  }
  a:link {
    display: block;
  }
  a:visited {
    display: block;
  }
  a:hover {
    display: block;
  }
